h1 {
    color: red;
}

.block {
    width: 100px;
    color: white;
    background-color: blue;
    margin-bottom: 100px;
}
h2 {
    color: white;
    background-color: green;
}

.inline {
    color: red;
}

.head {
    padding: 50px;
}

.block-1 {
    padding-left: 70px;
}

.item-list{
    border: 1px solid black;
}

footer {
    margin-bottom: 100px;
}